<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule about-us /about_us.php [L]
	RewriteRule contribute /partner.php [L]
	RewriteRule submit-an-idea /submit_an_idea.php
	RewriteRule contact-us /contact_us.php
	RewriteRule projects/jp-mobile projects/jp_mobile.php [L]
	RewriteRule projects/seven-nine-online projects/79_online.php [L]
	RewriteRule projects/open-bible-stories projects/open_bible_stories.php [L]
</IfModule>