@navbarLinkColor:					#FFFFFF;
@mdSecondaryColor:				#cbfe01;
@mdPrimaryColor:					#232323;
@mdAltColor1:							#EBEBEB;// Grey like
@mdAltColor2:							#ccdd87;// beige like
@mdAltColor3:							#4d5a1a;// redish
@mdAltColor4:							#ecff9d;// light yellow
@mdLightPrimaryShade:			#EBEBEB;
@navbarLinkColorHover:		@mdSecondaryColor;
@linkColor:								@mdAltColor3;
@linkColorHover:					@mdPrimaryColor;
@iconSpritePath:          "/vendor/bootstrap/images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/vendor/bootstrap/images/glyphicons-halflings-white.png";