/*
 * This file is part of Missional Digerati Website.
 * 
 * Missional Digerati Website is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Missional Digerati Website is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see 
 * <http://www.gnu.org/licenses/>.
 *
 * @author Johnathan Pulos <johnathan@missionaldigerati.org>
 * @copyright Copyright 2012 Missional Digerati
 * 
*/
/*Customize Twitter Bootstrap*/
@import "/vendor/bootstrap/less/variables.less";
@import "/vendor/bootstrap/less/mixins.less";
@import "stylesheets/less/additional_variables.less";
body {
	background-image: url('/images/site/furley_bg.png');
	background-color: @white;
}
div.slider, div.content, div.inner {
	background-color: transparent;
}
div.social_share div.inner div.container, div.slider div.inner div.container, div.content div.inner div.container {
	background-color: @white;
}
div.slider div.inner div.container {
	padding-top: 20px;
}
div.social_share div.add_this_icons {
	position: relative;
	height: 45px;
	
	div.addthis_toolbox {
		position: absolute;
		right: 10px;
		text-align: right;
		top: 10px;
	}

}
.navbar-inner {
  background-color: @mdPrimaryColor; /* background color will be black for all browsers */
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
.navbar {
	margin-bottom: 0px;
	
	.container {
		height: 80px;
	}
	.brand {
		padding: 16px 20px;
	}
	.nav {
		top: 37px;
		
		li > a {
			text-transform: uppercase;
			
			&:hover {
				text-transform: uppercase;
			}
			
		}
		li.donate .btn {
			margin-left: 20px;
		}
		
	}
	
}
/*structure*/
.slider {
	
	.inner {
		text-align: center;
		
		.container {
			min-height: 450px;
			padding-bottom: 20px;
		}
	}
	
}

.content .inner .container {
	min-height: 200px;
}
.extra .inner {
	color: white;
	background-color: @mdPrimaryColor;
	border-top: 1px solid @black;
	min-height: 200px;
}
div.mission {
	padding-top: 10px;
	text-align: center;
	
	p {
		font-size: 16px;
		line-height: 30px;
	} 
	
}

.highlighted {
	color: @mdSecondaryColor;
	font-weight: bold;
}
div.container.home{
	font-size: 16px;
	
	p {
		font-size: 16px;
	}
	
	ul{
		
		li {
			padding: 5px 0px;
			margin-left: 20px;
		}
		
	}
	
}

@import "stylesheets/less/mobile.application.less";