/*
 * This file is part of Missional Digerati Website.
 * 
 * Missional Digerati Website is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Missional Digerati Website is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see 
 * <http://www.gnu.org/licenses/>.
 *
 * @author Johnathan Pulos <johnathan@missionaldigerati.org>
 * @copyright Copyright 2012 Missional Digerati
 * 
*/
@import "/vendor/bootstrap/less/variables.less";
@import "/vendor/bootstrap/less/mixins.less";
@import "stylesheets/less/additional_variables.less";
@media (max-width: 600px) {
	
	.project_details {

		#project_video {
			float: none;
			width: 100%;
		}

		#project_tech_specs {
			clear: none;
			float: none;
			width: 100%;
			margin-top: 5px;
		}

	}
	
	.feature_box {
		.clearfix();
		margin-bottom: 25px;

		.featured {
			float: none;
			width: 100%;

			img {
			}
		}

		.featured_last {
			clear: none;
			float: none;
			margin-left: 0px;
			width: 100%;

			img {
				float: none;
				width: 100%;
				margin-right: 0px;
			}

		}

	}
	
}